/* Mobile phone CSS */

/* mettre la nav juste après la présentation, en colonne */
/* rajouter à chaque section un icone retour au menu */
/* reduire la tailles des icones */
/* mettre les titres des projets au dessus des textes */
/*mettre les hobbies en colonnes*/
/* Timelines (education & experience) REFAIRE LA TIMELINE POUR AVOIR LA TIMELINE TOUT À GAUCHE ET TOUT LE TEXTE A DROITE*/
/*rajouter une animation pour que la photo diminue en taille progressivement?*/


body{
	background-color: lightblue;
}

header{
	display: none;
}

section{
	/* reduce padding left and right to 5%? */
	padding-top: 0px;
}

section h2{
	/* to be updated for mobile*/
	padding-top: 10px;
	padding-bottom: 10px;
}

#block1{
	height: 100vh;
	display: flex;
	justify-content: center;
}
.presentation{
	width: 100%;
	margin:0 0 0 0;
}
#profile_picture{
	width: 35vw;  /* vw: view width (width of the screen) */
	height: auto;
	margin: 25px 0 0 0;
}
#profile_picture:hover{
	transform: scale(1.10);
}

#mobile_nav{ /* change background color ? */
	display: flex;
	flex-direction: column;
	visibility: visible;
}
#mobile_nav h1{
	text-align: center;/* centrer sur la page */
}
#mobile_nav nav{
	display: flex;
	justify-content: center;
}
#mobile_nav ul{
	margin-right: 40px;
	list-style-type: none;
	font-size: x-large;
	line-height: 1.5em; /* to be adjusted */
}

#brief p{width: 90%;}